.bottom-text{
  margin-top: 8%;
  color: grey;
  margin-left: 2%;
  margin-bottom: 1%;
  width: 30%;
  font-family: 'Nunito', sans-serif;
}

.card-container{
  overflow:hidden;
  box-shadow: 0px 0px 15px -5px;
  background-color: #6d6ca6;
  transition: ease-in;
  display:inline-block;
  margin-left: 2%;
  margin-bottom: 5%;
  width: 30%;
}

.card-container:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
  background-color: #dd3e42;
}

.card-content{
  margin: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

h3, p{
  margin: 0;
  padding: 0;
}

.card-icon{
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  color:	#f0ccb3;
}

