.search-results-header{
  color: white;
  font-size: 22px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 5%;
  margin-left: 3%;
  margin-bottom: 1%;
}

 #search-feed-entry {
  display: flex;
  overflow-x: auto;
}

#search-feed-entry:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
  background-color: #dd3e42;
}
.scrolling-container{
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.card-content{
  margin: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

 .show-name {
  font-family: 'Work Sans', sans-serif;
  font-size: 32px;
  margin-top: 0.5rem;
  color: #f0ccb3;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 3%;
  font-style: oblique;
}

.show-summary {
  margin: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}

.show-img {
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.unavail-img {
  /* display: block;
  margin: auto; */
  height: 300px;
  max-width: 200px;
}

  .show-card{
    flex: 0 0 auto;
    margin-right: 5px;
    width: 20%;
    height: 50%;
    box-shadow: 0px 0px 15px -5px;
    transition: ease-in;
    display:inline-block;
    margin-left: 2%;
    margin-bottom: 5%;
    border: 2px solid #f3f3f3;
  }

  .summary-button{
    border-radius: 25px;
    padding: 8px 14px;
    border-color: #f0ccb3;
    background-color: #140e3e;
    color: #f0ccb3;
    display: flex;
    font-size: 14px;
    margin-left: 35%;
    margin-top: 3%;
    border-style: solid;
  }

  .summary-button:hover{
    background-color: #f0ccb3;
    color: #dd3e42;
  }

  .shw-title{
    font-family: 'Work Sans', sans-serif;
    color:#f0ccb3;
    font-weight: bold;
    font-size: 32px;
    margin-left: 10%;
    margin-top: 5%;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #dd3e42;
  }

  .sub-btn{
    border-radius: 25px;
    padding: 8px 12px;
    background-color: #408ac8;
    border-color: #140e3e;
    color: #140e3e;
    font-size: 14px;
    margin-left: 14%;
    border-style: solid;
  }

  .sub-btn:hover{
    background-color: #f2d75e;
    color: #140e3e;
  }

  .sub-page-feed{
    margin-left: 20%;
  }