.search-results-header{
  color:white;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 1%;
  margin-left: 10%;
  margin-bottom: 5%;
  /* overflow: scroll;
  display: block; */
}

 #search-feed-entry {
  display: flex;
  overflow-x: auto;
}

#search-feed-entry:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
  background-color: #dd3e42;
}
.scrolling-container{
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.card-content{
  margin: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

 .show-name {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  margin-top: 0.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.show-summary {
  margin: 1rem;
  margin-top: 0.5rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}

.show-img {
  /* margin: 1rem;
  margin-top: 0.5rem; */
  color: white;
  font-family: 'Work Sans', sans-serif;
}

.unavail-img {
  /* display: block;
  margin: auto; */
  height: 300px;
  max-width: 200px;
}

  .show-card{
    flex: 0 0 auto;
    margin-right: 5px;
    width: 30%;
    height: 50%;
    box-shadow: 0px 0px 15px -5px;
    transition: ease-in;
    display:inline-block;
    margin-left: 2%;
    margin-bottom: 5%;
    border: 2px solid #f3f3f3;
  }

  .summary-button{
    border-radius: 25px;
    padding: 10px 24px;
    border-color:  #f0ccb3;
    background-color: #140e3e;
    color: #f0ccb3;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-left: 33%
  }

  .summary-button:hover{
    background-color: #f0ccb3;
    color: #dd3e42;
  }