*:focus {
  outline: none;
}

.home-title{
  color:white;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 1%;
  margin-left: 20%
}

.home-feed-container {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-left: 20%;
}

.main-post-container{
  font-family: 'Work Sans', sans-serif;
  border-radius: 25px;
  border-style: solid;
  border-color: #1d3b61;
  background-color: #1d3b61;
  margin-top: 5%;
  color: white;
}

.post-show{
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  color:  white;
  font-size: 18px;
  margin-left: 10%;
  font-weight: bold;
}

.post-show:hover {
  color: #dd3e42;
 }

#post-show-title{
  margin-top: 1.5%;
  margin-left: 15%;
  font-size: 16px;
  margin-bottom: -2%;
}

.post-author {
  margin-left: 15%;
  color: #408ac8;
  font-size: 14px;
  font-weight: bold;
 }


 #post-text-content{
  color: white;
  margin-left: 15%;
  margin-bottom: 5%;
  font-size: 14px;
 }

.post-like-btn{
    font-size: 24px;
    display: inline-block;
    width: 5%;
    margin-right: 2%;
    color: #f0ccb3;
}

.liked-button{
  font-size: 24px;
  display: inline-block;
  margin-right: 2%;
  color: #dd3e42;
}

.follow-button{
font-size: 24px;
display: inline-block;
margin-right: 2%;
color: #f0ccb3;
}

.unfollow-button{
  font-size: 24px;
  display: inline-block;
  margin-right: 2%;
  color: #dd3e42;
  }

.comment-btn{
  font-size: 24px;
  display: inline-block;
  margin-right: 2%;
  color: #f0ccb3;
}

.like-count{
  margin-top: 2%;
  display: inline-block;
  margin-left: 15%;
  position: relative;
  margin-right: 2%;
  font-size: 16px;
  margin-bottom: 2%;
  bottom: 6px;
}
.post-btn-container{
  display: flex;
  margin-right: px;
  padding-bottom: 10px;
}
.post-comment-btn{
  font-size: 24px;
  color: #f0ccb3;
  margin-left: 26%;
  position: relative;
  bottom: 38px;
}

/* .comment-box{

} */
.comment-txt-box{
  background-color: #1d3b61;
  color: white;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
  margin-right: 3%;
  height: 50px;
  width: 200px;
  text-align: center;
}

.comment-txt-box::-webkit-input-placeholder {
  text-align: center;
}

.submit-post-comment-btn{
  position: inline-block;
  background-color: #1d3b61;
  border-color: white;
  border-radius: 25px;
  color: white;
  border-style: solid;
  padding: 3px 8px;
}

.comment {
  font-family: 'Work Sans', sans-serif;
  border-style: solid;
  border-color: white;
  border-radius: 25px;
  margin-top: 2%;
  color: white;
  margin-left: 10%;
 }

 .comment-author{
  margin-top: 3.5%;
  margin-left: 5%;
  margin-bottom: -2%;
  color: #408ac8;
  font-size: 14px;
 }

 #comment-content{
  color: white;
  margin-left: 10%;
 }

 .reply-comment-txt-box{
  color: white;
  border-style: solid;
  border-color: #1d3b61;
  background-color: #140e3e;
  margin-right: 3%;
  height: 50px;
  width: 200px;
  margin-left: 25%;
  border-radius: 25px;
  margin-bottom: 3%;
  text-align: center;
}

.reply-comment-txt-box::-webkit-input-placeholder {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.submit-reply-comment-btn{
  background-color: #140e3e;
  border-color: white;
  border-radius: 25px;
  color: white;
  border-style: solid;
  padding: 3px 8px;
}

.x-btn{
  position: relative;
  color: white;
  font-size: 16px;
  margin-left: 2%;
  top: 4px;
}

.x-btn:hover{
  color:#dd3e42;
}