/* *{outline: 1px dotted white} */

.home-feed-container {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  min-height: 100vh;
  margin-left: 30%;
}

.main-post-container{
  font-family: 'Work Sans', sans-serif;
  border-radius: 25px;
  border-style: solid;
  border-color: #6d6ca6;
  background-color: #6d6ca6;
  margin-bottom: 1%;
  margin-top: 5%;
  width: 50%;
  color: white;
  margin-left: 2%;
}

.post-show{
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-left: 2%;
}

.post-show:hover {
  color: #dd3e42;
 }

#post-show-title{
  margin-top: 1.5%;
  margin-left: 8%;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: -2%;
}

.post-author {
  margin-left: 8%;
  color: #408ac8;
  font-size: 15px;
  font-weight: bold;
 }


 #post-content{
  color: white;
  margin-left: 8%;
  margin-bottom: 5%;
 }

/* .insert-comment-button{
 width: '10%';
 margin: '10px';
 background-color: 'orange';
 display: 'inline-block';
 border-radius: 25px;
 background-color:
} */

.post-like-btn{
    font-size: 24px;
    display: inline-block;
    width: 5%;
    margin-right: 2%;
    color: #f0ccb3;
}

.liked-button{
  font-size: 24px;
  display: inline-block;
  width: 5%;
  margin-right: 2%;
  color: #dd3e42;
}
.comment-btn{
  width: 5%;
  font-size: 24px;
}

.like-count{
  display: inline-block;
  margin-left: 8%;
  /* position: static; */
  margin-right: 1%;
  font-size: 18px;
  /* margin-bottom: 2%; */
  /* position: relative;
  bottom: 7px;
  right: 2px; */
}
.post-btn-container{
  display: flex;
  margin-right: 10px;
  padding-bottom: 10px;
  /* justify-content: space-around;*/
}
.post-comment-btn{
  font-size: 24px;
  color: #f0ccb3;
  margin-left: 20%;
  /* margin-bottom: 20%; */
  position: relative;
  bottom: 50px;
  /* margin-bottom: -8%; */
}

.comment-box{

}
.comment-txt-box{
  position: inline-block;
  background-color: #6d6ca6;
  color: white;
  border-color: white;
  border-radius: 25px;
  border-style: solid;
  border-color: #6d6ca6;
  background-color: #6d6ca6;
  margin-right: 5%;
  height: 50px;
  width: 200px;
}

.comment-txt-box::-webkit-input-placeholder {
  text-align: center;
}

.submit-post-comment-btn{
  position: inline-block;
  background-color: #6d6ca6;
  border-color: white;
  border-radius: 25px;
  color: white;
}

.comment {
  font-family: 'Work Sans', sans-serif;
  border-style: solid;
  border-color: white;
  color: white;
  border-radius: 25px;
  margin-bottom: 1%;
  margin-top: 2%;
  width: 50%;
  color: white;
  margin-left: 10%;
 }

 .comment-author{
  margin-top: 3.5%;
  margin-left: 5%;
  margin-bottom: -2%;
  color: #408ac8;
  font-size: 1spx;
 }

 #comment-content{
  color: white;
  margin-left: 10%;
  /* margin-left: 5%; */
  /* margin-top: -2%;
  margin-bottom: 3%; */
 }


