#header {
  font-family: 'Work Sans', sans-serif;
  color:white;
  font-weight: bold;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: 32px;
}

#enter-number-header {
  margin-left: 30%;
  margin-top: 5%;
  font-size: 24px;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

#enter-number-box {
  font-family: 'Work Sans', sans-serif;
  margin-left: 40%;
  margin-right: 1%;
}

#enter-number-button {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  background-color: #6d6ca6;
  border-radius: 25px;
  padding: 6px 15px;
}

#enter-number-button:hover {
  background-color: #408ac8;
  color: white;
}

#change-number-msg{
  margin-left: 9%;
  margin-bottom: 1.5%;
  font-family: 'Work Sans', sans-serif;
  color: #5c637b;
  font-style: italic;
  /* font-weight: bold; */
  font-size: 14px;
  width: 16%;
  text-align: center;
}

#change-number-button {
  font-family: 'Work Sans', sans-serif;
  margin-left: 12.5%;
  font-size: 12px;
  background-color: #6d6ca6;
  border-radius: 25px;
  padding: 6px 15px;
}

#change-number-button:hover {
  background-color: #5c637b;
  color: white;
}

#all-notif {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  color: #f0ccb3;
  font-size:22px;
  font-weight: bold;
}


#notif-msg-block{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}
#receive-notifs-message{
  font-size: 18px;
  text-decoration: none;
  display: inline;
}

#trash-icon {
  color: #f2d75e;
  display: inline;
  margin-left: 2%;
}

#trash-icon:hover {
  color:#dd3e42;
}

#notif-pic {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}