#header {
  font-family: 'Work Sans', sans-serif;
  color: #f2d75e;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 2%;
}

#enter-number-header {
  margin-top: 5%;
  font-size: 24px;
  font-family: 'Work Sans', sans-serif;
  color: white;
}
#enter-number-box {
  font-family: 'Work Sans', sans-serif;
  margin-left: 30%;
  margin-right: 1%;
}

#enter-number-button {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  background-color: #6d6ca6;
  border-radius: 25px;
  padding: 6px 15px;
}

#enter-number-button:hover {
  background-color: #36b2a1;
  color: white;
}

#change-number-button {
  font-family: 'Work Sans', sans-serif;
  margin-left: 22%;
  margin-bottom: 2%;
  font-size: 14px;
  background-color: #6d6ca6;
  border-radius: 25px;
  padding: 6px 15px;
}

#change-number-button:hover {
  background-color: #36b2a1;
  color: white;
}

.receive-notifs-message{
  margin-left: 20%;
}

h2{
  margin-left: 20%;
}