.send-msg-header {
  font-family: 'Work Sans', sans-serif;
  position: fixed;
  margin-left: 45%;
  top: 0;
  z-index: 100;
  margin-top: 17.5%;
  color: #f2d75e;
  font-size: 16px;
}

.write-message-box {
    z-index:100;
    font-family: 'Work Sans', sans-serif;
    position: fixed;
    margin-left: 40%;
    top: 0;
    width: 20%;
    height: 10%;
    margin-top: 20%;
    color: white;
    background-color: #140e3e;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
}

.send-message-button {
    font-family: 'Work Sans', sans-serif;
    background-color: #140e3e;
    color: #6d6ca6;
    border-color: #6d6ca6;
    border-radius: 25px;
    padding: 2px 10px;
    position: fixed;
    top: 0;
    z-index: 100;
    margin-top: 27%;
    margin-left: 48.5%;
    border-style: solid;
}

.send-message-button:hover {
  background-color: #f2d75e;
    color: #140e3e;
    border-color: #f2d75e;
}

#heading {
  margin-top: 5%;
  font-family: 'Work Sans', sans-serif;
  color: white;
  margin-left: 20%;
  font-size: 32px;
  font-weight: bolder;
}

#dms-sub-header{
  font-family: 'Work Sans', sans-serif;
  margin-left: 12%;
  color: #408ac8;
  font-style: italic;
  font-size: 15px;
  font-weight: bold;
}

#create-message-button {
  font-family: 'Work Sans', sans-serif;
  margin-top: 1.5%;
  margin-bottom: 5%;
  margin-left: 14%;
  font-size: 14px;
  background-color: #6d6ca6;
  color:white;
  border-radius: 25px;
  padding: 6px 15px;
}
#answer {
  
  position: absolute;
  right: 220px;
  top: 130px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 1.5%;
  margin-bottom: 5%;
  margin-left: 14%;
  font-size: 14px;
  background-color: #6d6ca6;
  color:white;
  border-radius: 25px;
  padding: 6px 15px;
}
#videoCall {
  
  position: absolute;
  right: 350px;
  top: 130px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 1.5%;
  margin-bottom: 5%;
  margin-left: 14%;
  font-size: 14px;
  background-color: #6d6ca6;
  color:white;
  border-radius: 25px;
  padding: 6px 15px;
}
#create-message-button:hover {
  background-color: #408ac8;
  color: white;
}

#videoCall:hover {
  background-color: #408ac8;
  color: white;
}
#answer:hover {
  background-color: #408ac8;
  color: white;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

video {
  width: 25%;
  height: 25%;
  object-fit: cover;
}
.inbox {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: #f0ccb3;
  border-style: groove;
  border-color: #f2d75e;
  margin-left: 20%;
  width: 60%;
  padding-left: 2%;
  font-size:22px;
  border-radius: 25px;
  padding-bottom: 12px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  text-decoration: underline;
  color:white;
  font-size: 18px;
}

.msg-from:hover{
  color:white;
}

h2:hover {
  color:#408ac8;
}

#search-for-user-button {
  color: lightblue;
  margin-left: 20%;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
}

.user-search-form{
  background-color: #140e3e;
  color: white;
  font-family: 'Work Sans', sans-serif;
  border-radius: 25px;
  width: 18%;
  margin-top: 2%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 1%;
  margin-left: -10%;
}

#searched-users {
  font-family: 'Work Sans', sans-serif;
  color: lightblue;
  margin-left: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.message-content {
  font-family: 'Work Sans', sans-serif;
  margin-top: 7.3%;
  margin-left: 22%;
  color: white;
}

.msg-text{
  color: #408ac8;
  margin-left: 2%;
}

.send-msg-area {
  margin-left: 15%;
}

.invalid-num-text{
  font-family: 'Work Sans', sans-serif;
  color: #dd3e42;
  font-size: 16px;
  font-style: italic;
  margin-top: 1%;
  margin-left: 45%;
}